@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600&display=swap');

body{
  font-family: 'Darker Grotesque', sans-serif;;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  header, #container {
    flex-direction: column;
  }

  #container div{
    width: 100% !important;
  }

  #container div:last-child{
    margin-top: 1rem;
  }

  #container div:first-child{
    margin-bottom: 10vh;
  }

  header img{
    width: 40% !important;
  }

  header a img{
    width: 100% !important;
  }

  p{
    font-size: 2rem;
  }

  canvas{
    width: 100%;
  }
}