body{
  margin: 0;
  padding: 0;
  cursor: url("assets/cursor.png"), auto;
}

header img{
  width: 30%;
  height: 60vh;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 10vh;
  top: 0;
}

main{
  width: 90vw;
  margin-left: 5vw;
  margin-top: 10vh;
}

#container{
  display: flex;
  justify-content: space-between;
}

#container div:first-child{
  width: 30%;
}

#container div:last-child{
  margin-top: 60vh;
  width: 65%;
}

#container div img{
  width: 100%;
}

#fadeObject1{
  opacity: 0;
}

video{
  width: 100%;
}

.itw{
  font-style: italic;
}

a{
  font-size: 1.5em;
  color: #000;
  position: absolute;
  z-index: 100;
}

.proto{
  display: flex;
  justify-content: space-between;
  width: 100% !important;
  margin-top: 1rem !important;
}

.proto img{
  width: calc((100% - 3rem)/4) !important;
}